body {
  margin: 0;
  padding: 0;
}

a:link {
  color: rgb(53, 53, 53);
}

.navbar {
  border: 1px solid rgb(0, 0, 33);
  background-color: rgb(0, 0, 33);
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: auto;
  justify-content: end;
}

.navbar div {
  width: 100px;
  grid-row: 1;
  color: #fff;
  padding-top: 10px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.navbar div:hover {
  color: rgb(211, 211, 211);
}

.user-form {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  width: 400px;
  display: grid;
  margin: 30px auto;
}

.signup-form {
  grid-template-rows: 1fr 70px 70px 70px 70px 70px 70px;
}

.login-form {
  grid-template-rows: 1fr 70px 70px 70px;
}

.expense-form {
  grid-template-rows: 1fr 70px 70px 70px 70px;
}

.user-form h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.user-form input,
.user-form button {
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.user-form input {
  background-color: rgb(240, 240, 240);
  padding: 0 10px;
}

.user-form button {
  cursor: pointer;
  background-color: rgb(39, 0, 131);
  color: #fff;
}

.user-form button:hover {
  background-color: rgb(55, 17, 146);
}

.component-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.component {
  border-radius: 5px;
  width: 400px;
  height: 350px;
  border: 1px solid rgb(190, 190, 190);
  margin: 30px auto;
}

.component h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.comparison-component {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 200px;
}

.comparison-component div {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 5px;
  color: #000;
}

.comparison-component img {
  height: 200px;
}

.vs-sign {
  font-weight: bold;
  color: rgb(39, 0, 131);
}

/* .navbar {
  float: right;
}

.nav {
  background-color: darkblue;
  border-radius: 5px;
  margin: 5px;
  padding: 7px;
  color: whitesmoke;
  font-weight: bold;
}

.nav:hover {
  background-color: purple;
  cursor: pointer;
}

.login {
  border: solid 2px;
  border-radius: 5px;
  margin: 3%;
  padding: 2%;
  width: 50%;
  position: fixed;
  top: 20%;
  left: 20%;
  transform: translate(-40%, -30%);
} */

.preferences-container {
  margin: 30px auto;
  width: 610px;
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
}

.preferences-container div {
  border: 1px solid rgb(0, 0, 33);
  background-color: rgb(0, 0, 33);
  border-radius: 5px;
  cursor: pointer;
  padding-top: 65px;
  font-size: 22px;
  text-align: center;
  margin: 2px;
  color: #fff;
}

.preferences-container div:hover {
  border: 1px solid rgb(39, 0, 131);
  background-color: rgb(39, 0, 131);
  transform: scale(1.01);
}

.preference-selected {
  border: 1px solid rgb(55, 0, 184);
  background-color: rgb(55, 0, 184);
}